<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
  <title>STYLE/STALK</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.png' %>
  <meta property="og:title" content="Style Stalk ">
  <meta property="og:url" content="http://www.stylestalk.com/">
  <meta property="og:image" content="http://25.media.tumblr.com/tumblr_mcbztpV3hC1r6zhjoo1_250.png">
  <meta property="fb:app_id" content="279131152176124">
  <meta property="og:site_name" content="STYLE/STALK">
  <meta property="og:type" content="stylestalk_com:site">
  
  <!-- AH: For gplus. -->
  <meta itemprop="name" content="StyleStalk">
  <meta itemprop="description" content="Just RSVPed for STYLE/STALK's launch event.  Join as my +1 here:  http://stylesta.lk/Fosevwa">
  <meta itemprop="image" content="http://25.media.tumblr.com/tumblr_mcbz5n249w1r6zhjoo1_500.png">
</head>
<body>

<%= yield %>

</body>
</html>
