<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
  <title>STYLE/STALK</title>
    <%= stylesheet_link_tag 'mobile' if @mobile %>
    <%= stylesheet_link_tag "desktop" unless @mobile %>
    <%= stylesheet_link_tag 'foundation' %>
  
    <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.png' %>
  <meta property="og:title" content="Style Stalk" />
  <meta property="og:url" content="http://www.stylestalk.com/" />
  <meta property="og:image" content="http://25.media.tumblr.com/tumblr_mcbztpV3hC1r6zhjoo1_250.png" />
  <meta property="fb:app_id" content="279131152176124" />
  <meta property="og:site_name" content="STYLE/STALK" />
  <meta property="og:type" content="stylestalk_com:site" />
  <link href="https://plus.google.com/116696043516460038696" rel="publisher" />
  <!-- AH: For gplus. -->
  <meta itemprop="name" content="StyleStalk">
  <meta itemprop="description" content="Just RSVPed for STYLE/STALK's launch event.  Join as my +1 here:  http://stylesta.lk/osevwa">
  <meta itemprop="image" content="http://25.media.tumblr.com/tumblr_mcbz5n249w1r6zhjoo1_500.png">
</head>
<body>

<%= yield %>

</body>
</html>

